In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/om2/user/mabdel03/files/Ravi_ISO_MRI/Final_Data/code/slm_data3.csv")

In [3]:
len(df)

566

In [9]:
df['subject']

0      sub-00582981
1      sub-00807897
2      sub-01172523
3      sub-01841461
4      sub-01878130
           ...
561    sub-99151323
562    sub-99516006
563    sub-99693576
564    sub-99893592
565    sub-99911705
Name: subject, Length: 566, dtype: object

In [10]:
sub_list = [sub.split('-')[1] for sub in df['subject']]

In [12]:
df_out = pd.DataFrame(data={'projid': sub_list})

In [13]:
df_out

       projid
0    00582981
1    00807897
2    01172523
3    01841461
4    01878130
..        ...
561  99151323
562  99516006
563  99693576
564  99893592
565  99911705

[566 rows x 1 columns]

In [16]:
df_out.to_csv('/om2/user/mabdel03/files/Ravi_ISO_MRI/Final_Data/code/projid_dataframe.csv')